body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*RESET*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin: 0;
}
h1{
  padding: 3rem;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  /*
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;
  */
}
button,
input {
  overflow: visible;
}
body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font: 1.6rem/1.25 Arial, sans-serif;
  background-color: #E6E6E6;
  color: #4d4d4d;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END RESETS*/

.buttonFilter[aria-pressed="true"]{
  border: 1px solid #E6E6E6;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
.buttonFilter[aria-pressed="true"]:hover{
  background-color: #E6E6E6;
  color: white;
}
.button_checkbox{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2.15em;
  height: 2.15em;
  border: 0.15em solid currentColor;
  border-radius: 1.15em;
  transform: translateY(-0.075em);
  cursor: pointer;
}
.btn__delete-all{
  border: 1px solid #E6E6E6;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
.btn__delete-all:hover{
  background-color: #E6E6E6;
  color: white;
}
.button_checkbox:checked::before {
  transform: scale(1.8);
  background-color: green;
  position: absolute;
  top: 45%;
  left: 21%;
}
.button_checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(gray);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.container-todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  -webkit-box-shadow: 5px -1px 10px 0px #535353; 
  box-shadow: 5px -1px 10px 0px #535353;
}
.todoapp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoapp form{
  width: 100%;
  position: relative;
}
.btn__lg{
  position: absolute;
  right: 10px;
  bottom: 25px;
  cursor: pointer;
  border: 1px solid #E6E6E6;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
.btn__lg:hover{
  background-color: #E6E6E6;
  color: white;
}
.btn{
  cursor: pointer;
}
.btn__delete svg:hover{
  fill: red;
  font-size: 18px;
}
.btn__edit svg:hover{
  fill: blue;
  font-size: 18px;
}
.input__lg{
  padding: 21.7px;
  padding-left: 74px;
  font-size: 25px;
  border: 1px solid #E6E6E6;
  border-bottom: none;
  border-radius: 0;
  width: 100%;
  
}
ul.todo-list{
  width: 100%;
  margin: 0;
}
ul.todo-list .todo:nth-child(n + 2) .stack-small{
  border-top: 1px solid transparent; 
}
ul.todo-list .todo:last-child .stack-small{
  border-bottom: 1px solid transparent;
}
.todo:nth-child(n + 2) .stack-small-form{
  border-top: 0 solid transparent;
}
.todo:last-child .stack-small-form{
  border-bottom: 0 solid transparent;
}
li.todo{
  display: flex;
  justify-content: space-around;
}
div.stack-small{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #E6E6E6;
  padding: 2rem;
  background: white;
}
div.c-cb{
  display: flex;
}
label.todo-label{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  cursor: pointer;
}
.label-wrapper{
  margin:0;
}
div.btn-group-inter{
  display: flex;
  width: 12%;
  justify-content: space-between;
}
.btn-group-edit{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  padding-top: 1.3rem;
  padding-bottom: 0.4rem;
}
.todo-footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 1px solid #E6E6E6;
  padding: 1rem;
  background: white;
}
.todo-text{
  display: flex;
  margin: auto;
  width: 75%;
}
#list-heading{
  margin: 0;
}
.filters{
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}
.stack-small-form{
  width: 100%;
  padding: 0.8rem;
  background-color: gray;
}
